
.body{
    position: absolute;
    width: 650px;
    height: 350px;
    background-color: whitesmoke;
    margin-top: 20px auto;
    top: 100px;
    left:400px;
    border-radius: 50px;
    text-align: left;
}

.form-body{
    text-align: left;
    padding: 20px 10px;
    position: absolute;
    top: 50px;
    left: 60px;
}

.form-body > *{
    padding: 20px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
    position:absolute;
    left: 200px;
    top:100px;
}