.links{

    position:absolute;
    left: 1450px;

}

.link1{
    position: absolute;
    color: brown;
    text-decoration: wavy;
    text-align: center;
    height:30px;
    width: 60px;
    border: px solid red;
    border-radius: 10px;
    background-color:white
}


.link2{
    position: absolute;
    color: brown;
    text-decoration: wavy;
    text-align: center;
    top: 50px;
    height:30px;
    width: 60px;
    border: px solid red;
    border-radius: 10px;
    background-color:white
}

.button{
    text-align: center;
}

.link3{
    position: absolute;
    color: brown;
    text-decoration: wavy;
    text-align: center;
    top: 8px;
    height:30px;
    width: 90px;
    left:-30px;
    border: px solid red;
    border-radius: 10px;
    background-color:white
}

.link4{
    position: absolute;
    color: brown;
    text-decoration: wavy;
    text-align: center;
    top: 50px;
    height:30px;
    left:-30px;
    width: 100px;
    border: px solid red;
    border-radius: 10px;
    background-color:white
}

.link5{
    position: absolute;
    color: brown;
    text-decoration: wavy;
    text-align: center;
    top: 90px;
    height:30px;
    left:-30px;
    width: 100px;
    border: px solid red;
    border-radius: 10px;
    background-color:white
}

.link6{
    position: absolute;
    color: brown;
    text-decoration: wavy;
    text-align: center;
    top: 130px;
    height:30px;
    left:-30px;
    width: 100px;
    border: px solid red;
    border-radius: 10px;
    background-color:white
}

.link7{
    position: absolute;
    color: brown;
    text-decoration: wavy;
    text-align: center;
    top: 170px;
    height:30px;
    left:-30px;
    width: 100px;
    border: px solid red;
    border-radius: 10px;
    background-color:white
}
