.heading3{
  text-align: center;
  height: 100px;
  width: 900px;
  position:absolute;
  left: 300px;
  top:500px
}

.library{
    background: #209cee;
    height: 100vh;
    padding: 30px;
  
  
}


.heading1{
  position:absolute;
  margin-top: -10px;
  left: 500px;
}